.header {
  height: 60px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
}

.menuTrigger {
  margin: 0 30px;
  color: #6f6f6f;
  display: flex;
  align-items: center;

  i {
    font-size: 20px;
    cursor: pointer;
  }
}

.right {
  display: flex;
  align-items: center;
}

.controls {
  display: flex;
}
