.header {
  height: 60px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
}

.menuTrigger {
  margin: 0 30px;
  color: #6f6f6f;
  display: flex;
  align-items: center;

  i {
    font-size: 20px;
    cursor: pointer;
  }
}

.burger-wrapper {
  width: 20px;
  height: 30px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: fixed;
  z-index: 103;
}

.burger {
  width: 20px;
  height: 3px;
  background-color: #252120;
  position: relative;
  &::before, &::after {
    content: '';
    width: 20px;
    height: 3px;
    background-color: #252120;
    position: absolute;
    left: 0;
  }
  &::before {
    top: -6px;
  }

  &::after {
    top: 6px;
    width: 14px;
  }
}

.right {
  display: flex;
  align-items: center;
}

.controls {
  display: flex;
}
