.container {
  width: 400px;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #333;
  transform: translateX(-440px);
  transition: transform 0.3s cubic-bezier(0.42, 0, 0.61, 0.68);
}

.show {
  transform: translateX(0);
}

.nav {
  height: 100%;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.85);
}

.nav__inner {
  padding-left: 76px;
  padding-top: 1px;
  margin: 0;

  &--ghost {
    height: 22%;
  }
}

.nav-item {
  margin: 30px 0;
}

.nav-link {
  color: rgba(0, 0, 0, 0.65);

  &:link {
    color: rgba(0, 0, 0, 0.65);
  }

  &:hover {
    color: rgba(0, 0, 0, 1);
  }
}
