.inner {
  margin: 30px auto 0;
  width: 960px;
}

.info {
  display: flex;

  &__cover {
    width: 230px;
    height: 230px;
    overflow: hidden;
    margin-right: 28px;

    &-image {
      width: 330px;
      height: 230px;
      clip-path: inset(0 50px 0 50px);
      margin-left: -50px;
    }
  }

  &__content {
    flex: 1;

    &-title {
      font-size: 28px;
      font-weight: bolder;
      margin-bottom: 16px;
    }

    &-meta {
      font-size: 14px;
      margin: 14px 0;
      &-vol {
        margin-right: 20px;
      }

      &-date {

      }
    }


    &-desc {
      font-size: 14px;
      line-height: 19px;
    }
  }
}

.tracklist {
  margin-top: 40px;
}

.track-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  margin: 4px 0;
  height: 34px;
  align-items: center;
  border-bottom: 1px solid #f3f3f3;

  &__order {
    width: 30px;
    text-align: right;

    &::after {
      content: ".";
    }
  }

  &__title {
    width: 300px;
    margin: 0 20px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__artist {
    width: 200px;
  }

  &__album {
    width: 240px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
