.container {
  will-change: transform;
  //display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 600px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 25px 60px 0 rgba(97, 45, 45, 0.4);
  font-size: 14px;
  z-index: 999;
  transform: translate(100%, 0%) matrix(1, 0, 0, 1, 0, 0);
  transition: transform 0.3s cubic-bezier(0.71, 0.12, 0.17, 0.67);
  //animation: keyframes 1s infinite;
}

.show {
  transform: matrix(1, 0, 0, 1, 0, 0);
}

@keyframes playListAnimation {
  0% {
    transform: translate(100%, 0%) translate3d(0, 0, 0);
  }

  99% {
    transform: translate(0%, 0%) matrix(1, 0, 0, 1, 0, 0);
  }

  100% {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

.list {

}

.item {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 74px;
  box-sizing: border-box;

  &.active {
    background: #EEECED;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.03);
  }

  &__cover {
    width: 50px;
    height: 50px;
    margin-right: 16px;
    border: 1px solid #dcdcdc;

    img {
      width: 100%;
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    flex: 1 auto;
  }

  &__name {
    width: 100%;
    font-size: 16px;
    font-weight: bolder;
    line-height: 24px;
    color: #333;
  }

  &__artist {
    font-size: 14px;
    color: #333;
    line-height: 24px;
  }

  &__duration {
    font-size: 14px;
    color: #333;
  }
}
